body {
  padding: 2pt;
  margin: 0;
  background-color: #1d0f0f;
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
}
.content {
  display: flex;
  justify-content: center;
}
.navbar {
  
}

img {
  width: 100%;
  z-index: -1;
}
.aboutme {

  
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(147, 235, 183);
  border-radius: 10px;
}
